<div class="container">
<ion-header>
  <ion-toolbar>
    <ion-title> Header </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <h2 class="titre">Welcome to our online shop </h2>
 <img src="../../assets/rec2.jpg"   class="img1"   alt="">
 <a href="/edit" class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded" data-abc="true" >Get Started</a>
 <p class="p1">Don't have an account?</p>
 <p class="p2">Sign in here</p>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title> Footer </ion-title>
  </ion-toolbar>
</ion-footer></div>