
<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-xrC2fXFcqEpqq3DfTsoUqdyJGE2F3ZjZiJ7IBIKDyKP+Xwbawc+4/+LPRPbzMTTqYjA5fNLoKk69fkYFFtxGcg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head><div class="container">
  <div class="container1">
  
      <ion-icon name="arrow-back" class="arrow"  (click)="goToHome2()"></ion-icon>
    
 
  
    <h2>shop by category</h2>
  </div>
 
  <div class="card-row">
    <div class="card">
      <img src="assets/c1.png" alt="" class="im">
     <p class="p3">meubles</p>
    </div>
    <div class="card">
     <img src="assets/c9.png" alt="" class="im">
      <p class="p3">Livres</p>
    </div>
    <div class="card">
      <img src="assets/c3.png" alt="" class="im">
      <p class="p3">Vetements</p>
     
    </div>
  </div>
  <div class="card-row">
    <div class="card">
      <img src="assets/c4.png" alt="" class="im">
    <p class="p3">apareils electromenagers</p>
    </div>
    <div class="card">
      <img src="assets/c5.png" alt="" class="im">
     <p class="p3">fournitures scolaires</p>
    </div>
    <div class="card">
      <img src="assets/c13.png" alt="" class="im">
      <p class="p3">apareils electroniques</p>
      
    </div>
    
    
  </div>
  <div class="card-row">
    <div class="card">
      <img src="assets/c12.png" alt="" class="im">
    <p class="p3">Équipement sportif et de plein air</p>
    </div>
    <div class="card">
      <img src="assets/c11.jpeg" alt="" class="im">
     <p class="p3"> équipement de bricolage</p>
    </div>
    <div class="card">
      <img src="assets/c10.png" alt="" class="im">
      <p class="p3">Instruments de musique</p>
      
    </div>
    
    
  </div>

</div>
