
<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-xrC2fXFcqEpqq3DfTsoUqdyJGE2F3ZjZiJ7IBIKDyKP+Xwbawc+4/+LPRPbzMTTqYjA5fNLoKk69fkYFFtxGcg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head><div class="container">
  <div class="container1">
    <ion-icon name="arrow-back" class="arrow" (click)="goToHome2()"></ion-icon>
    <ion-icon name="cart-outline" class="bars"></ion-icon>
    <div class="search-wrapper">
      <ion-searchbar></ion-searchbar>
      <ion-icon name="filter" class="filter"></ion-icon>


    </div>
    
    
  </div>
  
 
</div>
