.container {
  position: relative;
  height: 100vh;
  width: 350px;
  margin-left: 500px;
  margin-top: 10px;
  box-shadow: 0px 0px 20px #5c5696;
  background-color: #dedde0;
}

.card-row {
  display: flex;
}
.search-icon {
  left: 90px; /* Ajustez cette valeur selon l'espacement désiré entre le bord gauche du conteneur et l'icône */
  top: 50%;
  transform: translateY(-50%);
}
.im {
  margin-top: 5px;
  width: 50px; /* Définir la largeur souhaitée pour les images */
  height: 50px; /* Définir la hauteur souhaitée pour les images */
  border-radius: 50%; /* Créer un cercle en utilisant un rayon de bordure égal à la moitié de la largeur/hauteur */
  border: 2px solid blue;
  background-color: #ae7ceb; /* Ajouter une bordure bleue de 2px */
  object-fit: cover; /* Pour s'assurer que l'image couvre tout le cercle */
}
a {
  text-decoration: none;
}

.card {
  width: 50%;
  margin: 3px;
  height: 90%;

  box-shadow: 0px 0px 10px #5c5696;
}
.p3 {
  font-size: 12px;
}
.values-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #f7f7f7, #dcdcdc);
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 2px solid #5c5696;
  max-width: 300px;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.card:hover {
  transform: translateZ(-10px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);

  background-color: #7f34db;
}

.in {
  font-size: 50px;
  color: #5c5696;
}
img {
  height: 30%;
  width: 100%;
}

.p1 {
  font-size: 16px;
  text-align: center;
}

.container1 {
  background: linear-gradient(90deg, #c7c5f4, #776bcc);
  height: 90px;
}

.bars1 {
  font-size: 29px;
  margin-top: -5px;
  color: white;
}

.bars {
  margin-left: 280px;
  color: white;
  font-size: 21px;
}

.search-wrapper {
  display: flex;
  align-items: center;
}

ion-searchbar {
  padding: 8px 12px;

  border-radius: 50px;
}
/* Modifie la taille de la police */
ion-searchbar {
  --ion-font-size: 16px;
}

/* Modifie le remplissage */
ion-searchbar {
  --padding-start: 20px; /* Remplissage à gauche */
  --padding-end: 20px; /* Remplissage à droite */
  --padding-top: 12px; /* Remplissage en haut */
  --padding-bottom: 12px; /* Remplissage en bas */
}

/* Modifie le rayon de bordure */
ion-searchbar {
  --border-radius: 20px;
}

.p2 {
  font-size: 10px;
  color: #7f34db;
  margin-left: 310px;
  margin-top: -25px;
}
