<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-XXX" crossorigin="anonymous" />

<div class="container">
	<div class="screen">
		<div class="screen__content"> <img src="assets/image.png" alt="" class="background-img">
			<form class="login">
       
				<div class="login__field">
          <ion-icon name="mail" class="login__icon"></ion-icon>
					<input type="text" class="login__input" placeholder="Email">
				</div>
				<div class="login__field">
          <ion-icon name="lock-open" class="login__icon"></ion-icon>
					<input type="password" class="login__input" placeholder="Password">
          <span class="text">Forgot password ?</span>
				</div>
     
				<button class="button login__submit">
          <ion-icon name="log-in" class="button__icon"></ion-icon>
					<span class="button__text">Sign in</span>
          
				</button>			
        <span class="text1">new here ? <a href="/signup" class="text3">sign up</a> </span>	
			</form>
			<div class="social-login">
				<h3>log in via</h3>
				<div class="social-icons">
          <a href="#" class="social-login__icon">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
          <a href="#" class="social-login__icon">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
          <a href="#" class="social-login__icon">
            <ion-icon name="mail"></ion-icon>
          </a>
        </div>
			</div>
		</div>
		
	</div>
</div>