.custom-col {
  flex: 1 0 25%; /* Adjust width as needed */
  max-width: 120px;
}

/* Styling for the table */
ion-content {
  padding: 20px;
} /* Adjusting text properties for table header */
/* Adjusting table width to fit content and make it responsive */
.ion-table {
  width: 90%; /* Set table width to 100% */
  table-layout: fixed; /* Fix table layout to prevent column width from changing */

  border: 1.5px solid rgb(115, 88, 196);
}

/* Adjusting text properties for table header */
.ion-table th {
  font-size: 12px; /* Adjust font size as needed */
  font-weight: center; /* Adjust font weight as needed */
  text-align: center; /* Adjust text alignment as needed */
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Show ellipsis for overflow */
  border: 1.5px solid rgb(115, 88, 196);
}

/* Adjusting text properties for table body */
.ion-table td {
  border: 1.5px solid rgb(115, 88, 196);
  font-size: 10px; /* Adjust font size as needed */
  font-weight: normal; /* Adjust font weight as needed */
  text-align: center; /* Adjust text alignment as needed */
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Show ellipsis for overflow */
}

/* Make table scrollable horizontally on small screens */
@media (max-width: 768px) {
  .ion-table {
    overflow-x: auto; /* Enable horizontal scroll */
    display: block; /* Change display mode to block */
  }
}

/* Styling for alternating row colors */
.ion-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Hover effect for table rows */
.ion-table tbody tr:hover {
  background-color: #f5f5f5;
}

/* Styling for alternating row colors */
.ion-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Hover effect for table rows */
.ion-table tbody tr:hover {
  background-color: #f5f5f5;
}

.im {
  margin-bottom: 5px;
  width: 85px; /* Définir la largeur souhaitée pour les images */
  height: 85px; /* Définir la hauteur souhaitée pour les images */
  border-radius: 50%; /* Créer un cercle en utilisant un rayon de bordure égal à la moitié de la largeur/hauteur */
  border: 2px solid blue;
  background-color: #ae7ceb; /* Ajouter une bordure bleue de 2px */
  object-fit: cover; /* Pour s'assurer que l'image couvre tout le cercle */
}
img {
  height: 60%;
  width: 60%;
}
.card-row {
  display: flex;
  margin-top: 15px;
}

ion-card {
  width: 76px;
  height: 76px; /* Set height to match width for square shape */
  margin: 4px;
}
/* Style for when card is hovered */
ion-card:hover {
  background-color: rgb(173, 144, 252); /* Change background color on hover */
  transform: scale(1.1); /* Increase size on hover */
}

ion-card-subtitle {
  padding-bottom: 30px;
  font-size: 0.8em;
}
.card {
  width: 50%;
  margin: 3px;
  height: 90%;

  box-shadow: 0px 0px 10px #5c5696;
}
.card:hover {
  transform: translateZ(-10px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);

  background-color: #7f34db;
}
.container {
  max-width: 20px;
  height: 800px;
  margin: 0 auto;
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Optional: to center align the cards horizontally */
}

/* Adjusting image preview */
.image-preview {
  margin-top: 20px; /* Adjust margin as needed */
}

.custom-toolbar {
  --ion-toolbar-background: rgb(135, 117, 214);
  color: #fff;
}

/* Centering the image within its container */
.image-preview img {
  display: block;
  margin: 0 auto;
}
.circular-image img {
  border-radius: 100%;
  width: 130px; /* Adjust as needed */
  height: 130px; /* Adjust as needed */
  object-fit: cover; /* Maintain aspect ratio */
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: linear-gradient(90deg, #c7c5f4, #aca2f5);
  height: 105%;
  box-shadow: 0px 0px 20px #6d61d8;
  margin-top: -14px;
}
/* Style pour le menu latéral */
ion-menu {
  --ion-background-color: #f4f4f4; /* Couleur de fond */
  --ion-width: 250px; /* Largeur du menu */
}

ion-header {
  background-color: #007bff; /* Couleur de fond de l'en-tête */
  color: white; /* Couleur du texte de l'en-tête */
}

ion-toolbar {
  --ion-color-base: #007bff; /* Couleur de base de la barre d'outils */
}

ion-title {
  font-size: 1.5rem; /* Taille de police du titre */
}

ion-content {
  height: calc(100% - 56px); /* Hauteur du contenu, ajustée pour l'en-tête */
}

ion-list {
  padding: 0; /* Supprimer le remplissage par défaut */
}

ion-item {
  padding: 10px 20px; /* Remplissage intérieur */
  font-size: 1.1rem; /* Taille de police */
  color: #333; /* Couleur du texte */
}

ion-item:hover {
  background-color: #ddd; /* Couleur de fond au survol */
}

ion-item:first-child {
  border-top: none; /* Supprimer la bordure supérieure pour le premier élément */
}

ion-item:last-child {
  border-bottom: none; /* Supprimer la bordure inférieure pour le dernier élément */
}

.card-img-top {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 20px;
}

a {
  text-decoration: none;
}

.pro-img img {
  width: 110px;
  height: 110px;
  border-radius: 50%;

  overflow: hidden;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;

  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: #fff;
}

.btn-primary {
  background: linear-gradient(90deg, #090911, #7060e9);
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-md {
  padding: 0.45rem 0.85rem;
}

.btn-rounded {
  border-radius: 20px;
}

.text-center {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding-right: 15px;
  padding-left: 15px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-20 {
  margin-top: 20px;
}

.font-light {
  font-weight: 300;
}
.bars {
  font-size: 35px;
  background: linear-gradient(90deg, #c7c5f4, #776bcc);
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.arrow {
  font-size: 20px;
  cursor: pointer;
  margin-left: 185px;
  margin-top: -280px;
}
.menu-icon {
  font-size: 30px;
  cursor: pointer;
}
.sidebar {
  height: 400px;
  width: 0;
  margin-top: 20px;
  z-index: 1;
  position: fixed;
  left: 160;
  background-color: #c2ace0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3px;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 13px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar-open {
  width: 150px;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.pro-img {
  margin-top: -65px; /* Ajout de cette propriété pour ajuster la position de l'image pro-img */
}
.card-body {
  padding: 0; /* Modification de cette propriété pour éliminer le padding */
}
.container {
  width: 300px;
  height: 320px;
}

.pro-img {
  text-align: center;
  margin-top: 20px;
}
.image-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-left: 10px;
  width: 230px;
}
.image-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
