.container {
    width: 420px;
       margin: 0 auto;
       height: 950px;
     
       
   }
   .scrollable-container {
    max-height: 80vh; /* Définissez la hauteur maximale ici, par exemple 80% de la hauteur de la vue */
    overflow-y: scroll; /* Afficher une barre de défilement verticale même si le contenu ne dépasse pas la hauteur maximale */
  }
  /* Style pour enlever la décoration des listes */
.no-decoration-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
  margin-left: 50px;
}
.no-decoration-list1 {
  list-style-type: none;
  padding: 0;
  margin: 0;
 
}
/* Style pour les éléments de liste */
.no-decoration-list li {
  padding: 0;
  margin: 0;
}

   .inf{
    margin-left: 40px;
    font-size: 18px;
    color: #5C5696;
   }
   .card {
       border-radius: 10px;
       box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
       overflow: hidden;
       background: linear-gradient(90deg, #C7C5F4, #776BCC);
       height: 105%;
       box-shadow: 0px 0px 20px #5C5696;
       margin-top: -14px;
   
   }
   /* Style pour le menu latéral */
   ion-menu {
       --ion-background-color: #f4f4f4; /* Couleur de fond */
       --ion-width: 250px; /* Largeur du menu */
     }
     
     ion-header {
       background-color: #007bff; /* Couleur de fond de l'en-tête */
       color: white; /* Couleur du texte de l'en-tête */
     }
     
     ion-toolbar {
       --ion-color-base: #007bff; /* Couleur de base de la barre d'outils */
     }
     
     ion-title {
       font-size: 1.5rem; /* Taille de police du titre */
     }
     
     ion-content {
       height: calc(100% - 56px); /* Hauteur du contenu, ajustée pour l'en-tête */
     }
     
     ion-list {
       padding: 0; /* Supprimer le remplissage par défaut */
     }
     
     ion-item {
       padding: 10px 20px; /* Remplissage intérieur */
       font-size: 1.1rem; /* Taille de police */
       color: #333; /* Couleur du texte */
     }
     
     ion-item:hover {
       background-color: #ddd; /* Couleur de fond au survol */
     }
     
     ion-item:first-child {
       border-top: none; /* Supprimer la bordure supérieure pour le premier élément */
     }
     
     ion-item:last-child {
       border-bottom: none; /* Supprimer la bordure inférieure pour le dernier élément */
     }
     
   
   .card-img-top {
       width: 100%;
       border-top-left-radius: 10px;
       border-top-right-radius: 10px;
      
   }
   
   .card-body {
       padding: 20px;
   }
   
   a{
       text-decoration: none;
   }
   
   .pro-img img {
       width: 110px;
       height: 110px;
       border-radius: 50%;
       
       overflow: hidden;
   }
   
   
   .btn {
       display: inline-block;
       font-weight: 400;
       text-align: center;
       white-space: nowrap;
       vertical-align: middle;
       cursor: pointer;
       user-select: none;
   
       border: 1px solid transparent;
       padding: .375rem .75rem;
       font-size: 1rem;
       line-height: 1.5;
       border-radius: .25rem;
       color: #fff;
   }
   
   .btn-primary {
       background: linear-gradient(90deg, #090911, #7060e9);
   }
   
   .btn-primary:hover {
       background-color: #0069d9;
       border-color: #0062cc;
   }
   
   .btn-md {
       padding: 0.45rem 0.85rem;
   }
   
   .btn-rounded {
       border-radius: 20px;
   }
   
   .text-center {
       text-align: center;
   }
   
   .row {
       display: flex;
       flex-wrap: wrap;
     margin-top: 25px;
       margin-left: -15px;
       height: 250px;
       width: 400px;
   }
   
   .col-md-4 {
       flex: 0 0 33.333333%;
       max-width: 33.333333%;
       padding-right: 15px;
       padding-left: 15px;
   }
   
   .m-t-10 {
       margin-top: 10px;
   }
   
   .m-t-20 {
       margin-top: 20px;
   }
   
   .font-light {
       font-weight: 300;
   }
   .bars{
       font-size: 35px;
       background: linear-gradient(90deg, #C7C5F4, #776BCC);
   }
   
   .py-5 {
       padding-top: 3rem;
       padding-bottom: 3rem;
   }
   .arrow{
       font-size: 20px;
       cursor: pointer;
       margin-left: 185px;
       margin-top: -280px;
   }
   .menu-icon {
       font-size: 30px;
       cursor: pointer;
     }
     .sidebar {
       height: 83%;
       width: 0;
      margin-top: 20px;
       z-index: 1;
   position: fixed;
       left: 160;
       background-color: #6d0df4;
       overflow-x: hidden;
       transition: 0.5s;
       padding-top: 60px;
     }
     
     .sidebar a {
       padding: 10px 15px;
       text-decoration: none;
       font-size: 20px;
       color: #818181;
       display: block;
       transition: 0.3s;
     }
     
     .sidebar a:hover {
       color: #f1f1f1;
     }
     
     .sidebar-open {
       width: 250px;
     }
   .px-2 {
       padding-left: 0.5rem;
       padding-right: 0.5rem;
   }
   .pro-img {
       margin-top: -65px; /* Ajout de cette propriété pour ajuster la position de l'image pro-img */
   }
   .card-body {
       padding: 0; /* Modification de cette propriété pour éliminer le padding */
   }