<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  integrity="sha512-vQbC7jo2Psdheux1lSnfvkDMNfU/nZkzVsw6A6fGFG5AdK2GDuPAdD/WDJ4IzYhqkvX2SdprnE17kS0E9Ye9kQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div
          style="
            display: flex;
            align-items: center;
            height: 9%;
            margin-bottom: 40px;
          "
        >
          <span
            class="menu-icon"
            style="margin-left: 20px; margin-bottom: 40px"
            (click)="toggleSidebar()"
            >&#9776;</span
          >
          <h3 class="m-b-0" style="margin-left: 22px">Vendeurs</h3>
        </div>

        <div class="card">
          <div
            class="card-body little-profile text-center"
            style="width: 412px; height: 912px"
          >
            <div class="row">
              <ion-col size="6">
                <ion-card style="width: 100%; height: 70%; margin-left: 26%">
                  <img
                    alt="Silhouette of mountains"
                    src="../../assets/c6.webp"
                    style="height: 66%; width: 100%"
                  />
                  <ion-card-header>
                    <h5 class="card-title" (click)="goCategories()">
                      Categories
                    </h5>
                  </ion-card-header>
                </ion-card>
              </ion-col>
              <ion-col size="6">
                <ion-card style="width: 100%; height: 70%; margin-left: 29%">
                  <img
                    alt="Silhouette of mountains"
                    src="../../assets/sales.jpg"
                  />
                  <ion-card-header>
                    <h5 class="card-title" (click)="goVentes()">Ventes</h5>
                  </ion-card-header>
                </ion-card>
              </ion-col>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar" [ngClass]="{'sidebar-open': sidebarOpen}">
      <div class="sidebar" [ngClass]="{'sidebar-open': sidebarOpen}">
        <div class="pro-img">
          <img src="https://i.imgur.com/8RKXAIV.jpg" alt="user" />
        </div>
        <h3 class="m-b-0">Brad Macullam</h3>
        <a href="/home2"><ion-icon name="home"></ion-icon> home</a
        ><a href=""><ion-icon name="stats-chart"></ion-icon> Statistics</a>
        <a href="/post"> <ion-icon name="create-outline"></ion-icon> Posts </a>

        <a href="#"><ion-icon name="mail"></ion-icon> Messages</a>
        <a href="#"><ion-icon name="settings"></ion-icon> Settings</a>
        <a href="/sign"><ion-icon name="log-out"></ion-icon> Logout</a>
      </div>
    </div>
  </div>
</div>
