.container {
    position: relative;
    height: 100vh;
    width: 350px;
    margin-left: 500px;
    margin-top: 10px;
    box-shadow: 0px 0px 20px #5C5696;
    background-color: #dedde0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container1 {
    background: linear-gradient(90deg, #C7C5F4, #776BCC);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Aligner les éléments à chaque extrémité */
    width: 100%;
    margin-left: 0px; /* Ajuster la marge gauche */
  }
  
  
  .arrow {
    margin-top: 18px;
    color: white;
    font-size: 30px;
  }
  
  h2 {
    font-size: 20px;
    color: white;
    margin-left: -60px; 
}

  
  h5 {
    font-size: 10px;
    margin-top: -10px;
  }
  
  .post-container {
    width: 80%;
    margin-bottom: 10px; /* Réduction de l'espacement entre les post-containers */
    border: 2px solid #a4a1a1;
    border-radius: 10px;
    padding: 10px; /* Réduction du padding */
    height: 30%; /* Réduction de la taille des post-containers */
    background-color: white;
    margin-top: 15px; /* Ajustement de l'espacement entre les post-containers */
  }
  
  .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px; /* Réduction de l'espacement entre le post-header et l'image */
  }
  
  .pro {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -10px;
  }
  
  .home {
    height: 10%;
  }
  
  .impo {
    width: 50%;
    margin-top: -5px;
    height: 70%;
  }
  
  .i1 {
    color: red;
    margin-left: 50px;
    margin-bottom: 20px; /* Réduction de l'espacement entre les icônes et le bas du post-container */
    font-size: 20px; /* Réduction de la taille de l'icône */
  }
  .home{
    width: 100%;
    height: 20%;
  }
  
  .i2 {
    margin-bottom: 20px; /* Réduction de l'espacement entre les icônes et le bas du post-container */
    font-size: 20px; /* Réduction de la taille de l'icône */
    color: black; /* Couleur noire pour les icônes */
  }
  .details-button {
    background-color: #c52d2d; /* Couleur de fond bleue */
    color: white; /* Couleur du texte blanc */
    border: none; /* Suppression de la bordure */
    padding: 8px 16px; /* Ajustement du rembourrage */
    border-radius: 5px; /* Ajout d'arrondi aux coins */
    cursor: pointer; /* Changement de curseur au survol */
    margin-top: 10px; /* Espacement au-dessus du bouton */
    font-size: 14px; /* Ajustement de la taille de la police */
}

  
  .details-button:hover {
    background-color: #8caaca; /* Changement de couleur de fond au survol */
  }
  .bars {
    font-size: 35px; /* Ajuster la taille de l'icône */
    margin-right: 20px; /* Déplacer l'icône légèrement vers la gauche */
    color: black; /* Définir la couleur du texte en noir */
}
.cart-container {
  display: flex;
  align-items: center;
 
}

  .cart-container ion-icon {
    margin-right: 1px; /* Ajuster l'espacement entre l'icône et le texte */
  }
  .cart-container span {
    margin-right:14px; /* Ajuster la marge à gauche pour déplacer le texte */
  }
  .add-to-cart-button {
    background-color: #4caf50; /* Couleur de fond verte */
    color: white; /* Couleur du texte blanc */
    border: none; /* Suppression de la bordure */
    padding: 8px 16px; /* Ajustement du rembourrage */
    border-radius: 5px; /* Ajout d'arrondi aux coins */
    cursor: pointer; /* Changement de curseur au survol */
    margin-right: 10px; /* Espacement entre les boutons */
    width: 80px;
  }
  
  .remove-item-button {
    background-color: #f44336; /* Couleur de fond rouge */
    color: white; /* Couleur du texte blanc */
    border: none; /* Suppression de la bordure */
    padding: 8px 16px; /* Ajustement du rembourrage */
    border-radius: 5px; /* Ajout d'arrondi aux coins */
    cursor: pointer; /* Changement de curseur au survol */
    margin-right: 10px; /* Espacement entre les boutons */
    width: 85px;
  }
  