<div class="container">

  <ion-header class="ion-no-border"><ion-icon name="arrow-back" class="barrr" (click)="goback()"></ion-icon>
    <ion-item lines="none">
      
      <ion-avatar slot="end" >
        <img src="https://i.imgur.com/8RKXAIV.jpg" alt="user" >
      </ion-avatar>
      <ion-label><ion-icon name="pricetags" class="bars" ></ion-icon>
        <h2>produits</h2>
      </ion-label></ion-item></ion-header>
  <ion-content [fullscreen]="true">
  <div class="ion-padding wrapper">
  <div class="search" style="display: flex;justify-content:center">
    <ion-searchbar></ion-searchbar><ion-icon name="options-outline" class="b2" (click)="goback1()"></ion-icon></div>
 
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-align-items-baseline">
        <ion-col size="6">
          <h4 class="title">
            <ion-icon name="list" ></ion-icon>listes de produits
          </h4>
        </ion-col>

      </ion-row>
    </ion-grid>
  
    </div>
  
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="12">
          
              <ion-card class="card" (click)="go()">
                <ion-card-content class="ion-text-left">
  
                  <div class="img-wrapper">
                  
                  <div class="icons">
                    <ion-icon name="trash" class="bar"></ion-icon>
                    <ion-icon name="pencil" class="bar5"></ion-icon>
                  </div>
                    <ion-img src="assets/m2.jpeg"></ion-img>
                  </div>
                  <div class="text">
                    <h3 class="titre">Titre</h3>
                  <ion-card-subtitle>Some description here</ion-card-subtitle></div>
                 
                </ion-card-content>
              </ion-card>
          
              <ion-card class="card"  (click)="go()">
                <ion-card-content class="ion-text-left">
  
                  <div class="img-wrapper">
                    <div class="icons">
                      <ion-icon name="trash" class="bar"></ion-icon>
                      <ion-icon name="pencil" class="bar5"></ion-icon>
                    </div>
                    <ion-img src="assets/m3.jpeg"></ion-img>
                  </div>
                  
                  <div class="text">
                    <h3 class="titre">Titre</h3>
                  <ion-card-subtitle>Some description here</ion-card-subtitle></div>
                 
                 
                </ion-card-content>
              </ion-card>
           
              <ion-card class="card"  (click)="go()">
                <ion-card-content class="ion-text-left">
  
                  <div class="img-wrapper">
                    <div class="icons">
                      <ion-icon name="trash" class="bar"></ion-icon>
                      <ion-icon name="pencil" class="bar5"></ion-icon>
                    </div>
                    <ion-img src="assets/m.jpeg"></ion-img>
                  </div>
                  
                  <div class="text">
                    <h3>Titre</h3>
                    <div class="text">
                      <h3 class="titre">Titre</h3>
                    <ion-card-subtitle>Some description here</ion-card-subtitle></div>
                   </div>
                  
                </ion-card-content>
              </ion-card>
           
              <ion-card class="card"  (click)="go()">
                <ion-card-content class="ion-text-left">
  
                  <div class="img-wrapper">
                    <div class="icons">
                      <ion-icon name="trash" class="bar"></ion-icon>
                      <ion-icon name="pencil" class="bar5"></ion-icon>
                    </div>
                   
                    <ion-img src="assets/m1.jpg"></ion-img>
                  </div>
                  <div class="text">
                    <h3>Titre</h3>
        
                    <div class="text">
                      <h3 class="titre">Titre</h3>
                    <ion-card-subtitle>Some description here</ion-card-subtitle></div>
                   </div>
                 
                </ion-card-content>
              </ion-card>
           
              
              <ion-card class="card"  (click)="go()">
                <ion-card-content class="ion-text-left">
  
                  <div class="img-wrapper">
                    <div class="icons">
                      <ion-icon name="trash" class="bar"></ion-icon>
                      <ion-icon name="pencil" class="bar5"></ion-icon>
                    </div>
              
                    <ion-img src="assets/m5.jpeg"></ion-img>
                  </div>
                  
                  <div class="text">
                 <h3>Titre</h3>
                 <div class="text">
                  <h3 class="titre">Titre</h3>
                <ion-card-subtitle>Some description here</ion-card-subtitle></div>
               
                  </div>
                </ion-card-content>
              </ion-card>
           
        </ion-col>
      </ion-row>
    </ion-grid>
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="12">
              
                  <ion-card class="card"  (click)="go()">
                    <ion-card-content class="ion-text-left">
      
                      <div class="img-wrapper">  <div class="icons">
                        <ion-icon name="trash" class="bar"></ion-icon>
                        <ion-icon name="pencil" class="bar5"></ion-icon>
                      </div>
                       <ion-img src="assets/m5.jpeg"></ion-img> 
                      </div>
                      
                      <div class="text">
                     
                        <div class="text">
                          <h3 class="titre">Titre</h3>
                        <ion-card-subtitle>Some description here</ion-card-subtitle></div>
                       </div>
        
                    </ion-card-content>
                  </ion-card>
                
                 
               
                  <ion-card class="card"  (click)="go()">
                    <ion-card-content class="ion-text-left">
      
                      <div class="img-wrapper">  <div class="icons">
                        <ion-icon name="trash" class="bar"></ion-icon>
                        <ion-icon name="pencil" class="bar5"></ion-icon>
                      </div>
                    
                        <ion-img src="assets/m7.jpeg"></ion-img>
                      </div>
                      <div class="text">
                
                        <div class="text">
                          <h3 class="titre">Titre</h3>
                        <ion-card-subtitle>Some description here</ion-card-subtitle></div>
                       </div>
                 
                    </ion-card-content>
                  </ion-card>
               
            </ion-col>
          </ion-row>
        </ion-grid>     


        <ion-icon name="add" class="add"></ion-icon>

  </ion-content> 
  