<div class="container">
	<div class="screen">
		<div class="screen__content">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-input placeholder="Nom de l'entreprise" formControlName="NomEntreprise"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label>Catégorie de produits</ion-label>
          <ion-select formControlName="catprod" multiple="true">
            <ion-select-option value="Meubles">Meubles</ion-select-option>
            <ion-select-option value="Vêtements">Vêtements</ion-select-option>
            <ion-select-option value="Électronique">Électronique</ion-select-option>
            <!-- Ajoutez d'autres options selon vos besoins -->
          </ion-select>
        </ion-item>
      
        <ion-item>
          <ion-label>Méthode de paiement</ion-label>
          <ion-select formControlName="methpay" multiple="true">
            <ion-select-option value="Virement bancaire">Virement bancaire</ion-select-option>
            <ion-select-option value="Chèque">Chèque</ion-select-option>
            <ion-select-option value="Espèces">Espèces</ion-select-option>
            <!-- Ajoutez d'autres options selon vos besoins -->
          </ion-select>
        </ion-item>
        
        <ion-item>
          <ion-input placeholder="Adresse" formControlName="adresse"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label>Méthode de livraison</ion-label>
          <ion-select formControlName="methliv">
            <ion-select-option value="Livraison standard">Livraison standard</ion-select-option>
            <ion-select-option value="Livraison express">Livraison express</ion-select-option>
            <ion-select-option value="Retrait en magasin">Retrait en magasin</ion-select-option>
            <!-- Ajoutez d'autres options selon vos besoins -->
          </ion-select>
        </ion-item>
      
        <ion-button type="submit" color="tertiary" style="margin-top: 20px">Ajouter</ion-button>
      </form>
      
    </div></div></div>