
<div class="container" style="width: 3120px">
  <div class="row py-5 px-2">
    <div class="col-md-8" style="width: 360px; height: 410px">
      <ion-toolbar class="custom-toolbar">
        <div style="display: flex; align-items: center">
          <span class="menu-icon" (click)="toggleSidebar()">&#9776;</span>
          <h3 class="m-b-0" style="margin-left: 10px">Ventes</h3>
        </div>
      </ion-toolbar>

      <div class="card" style="width: 360px">
        <div class="card-body little-profile text-center">
          <table class="ion-table" style="margin-top: 100px; margin-left: 10px">
            <!-- Table header -->
            <thead style="width: 85%; padding-top: 70%; margin-top: 250px">
              <tr>
                <th>Number of Sales</th>
                <th>Email</th>
                <th>Category Name</th>
                <th>Item Name</th>
                <th>Price</th>
                <th>Action</th>
              </tr>
            </thead>

            <!-- Table body -->
            <tbody style="width: 85%; height: 190px; font-size: 12px">
              <!-- Replace the static data with dynamic data using *ngFor -->
              <tr *ngFor="let item of tableData">
                <td>{{ item.sales }}</td>

                <td>{{ item.email }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.itemName }}</td>
                <td>{{ item.price }}</td>
                <ion-icon
                  name="trash"
                  slot="end"
                  (click)="Delete()"
                  size="small"
                  color="danger"
                  style="cursor: pointer"
                ></ion-icon>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="sidebar" [ngClass]="{ 'sidebar-open': sidebarOpen }">
      <div class="pro-img">
        <img src="https://i.imgur.com/8RKXAIV.jpg" alt="user" />
      </div>
      <h3 class="m-b-0">Vendeur</h3>
      <a href="/home2"><ion-icon name="home"></ion-icon> home</a
      ><a href=""><ion-icon name="stats-chart"></ion-icon> Statistics</a>
      <a href="/post"> <ion-icon name="create-outline"></ion-icon> Posts </a>

      <a href="#"><ion-icon name="mail"></ion-icon> Messages</a>
      <a href="#"><ion-icon name="settings"></ion-icon> Settings</a>
      <a href="/sign"><ion-icon name="log-out"></ion-icon> Logout</a>
    </div>
  </div>
</div>