<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  integrity="sha512-vQbC7jo2Psdheux1lSnfvkDMNfU/nZkzVsw6A6fGFG5AdK2GDuPAdD/WDJ4IzYhqkvX2SdprnE17kS0E9Ye9kQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div
          style="
            display: flex;
            align-items: center;
            height: 9%;
            margin-bottom: 3%;
          "
        >
          <span
            class="menu-icon"
            style="margin-left: 9px"
            (click)="toggleSidebar()"
            >&#9776;</span
          >
          <h3 class="m-b-0" style="margin-left: 10px">Vendeurs</h3>
        </div>

        <div class="card">
          <div
            class="card-body little-profile text-center"
            style="width: 412px; height: 912px"
          >
            <ion-item style="width: 100%; padding-top: 30px">
              <ion-input
                placeholder="Insert your category name"
                style="font-size: 0.7rem"
              ></ion-input>
              <input
                id="fileInput"
                type="file"
                accept="image/*"
                (change)="previewImage($event)"
                style="
                  opacity: 0;
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  cursor: pointer;
                "
              />
              <ion-icon
                name="image"
                slot="end"
                (click)="FileInput()"
              ></ion-icon>
            </ion-item>
            <div class="image-preview" *ngIf="imageUrl">
              <div class="circular-image">
                <img [src]="imageUrl" alt="Preview" />
              </div>
            </div>
            <ion-button color="tertiary" style="margin-top: 20px">
              Ajoutez
            </ion-button>
          </div>
        </div>
      </div>
    </div>

    <div
      class="sidebar"
      style="margin-top: 14%"
      [ngClass]="{'sidebar-open': sidebarOpen}"
    >
      <div class="sidebar" [ngClass]="{'sidebar-open': sidebarOpen}">
        <div class="pro-img">
          <img src="https://i.imgur.com/8RKXAIV.jpg" alt="user" />
        </div>
        <h3 class="m-b-0">Brad Macullam</h3>
        <a href="/home2"><ion-icon name="home"></ion-icon> home</a
        ><a href=""><ion-icon name="stats-chart"></ion-icon> Statistics</a>
        <a href="/posts"> <ion-icon name="create-outline"></ion-icon> Posts </a>

        <a href="#"><ion-icon name="mail"></ion-icon> Messages</a>
        <a href="#"><ion-icon name="setting"> </ion-icon> Settings</a>
        <a href="/sign"><ion-icon name="log-out"></ion-icon> Logout</a>
      </div>
    </div>
  </div>
</div>
