<ion-content [fullscreen]="true">
  <div class="container4">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">statics</ion-title>
      </ion-toolbar>
    </ion-header>
    <div class="wrapper">
      <ion-icon name="arrow-back" class="bar9" (click)="pro()"></ion-icon>
      <h2 class="dash">Dashboard</h2>
      <ion-icon name="grid" class="bar2"></ion-icon>
    </div>

    <div class="list">
      <ion-icon name="list" class="v"></ion-icon>
      <h2>Liste de clients</h2>
    </div>

    <div class="card-container">
      <ion-card *ngFor="let seller of sellers">
        <img [src]="seller.profileImageURL" />
        <ion-card-header>
          <ion-card-subtitle>nom du client: {{ seller.username}}</ion-card-subtitle>
          <ion-card-subtitle>Email du client: {{ seller.email }}</ion-card-subtitle>
         
        </ion-card-header>
        <ion-card-content>
         
        </ion-card-content>
        <ion-row class="icon-row">
          <ion-icon name="trash" class="icon-trash" ></ion-icon>
          <ion-icon name="eye" class="icon-view" (click)="viewSeller(seller)"></ion-icon>
          <ion-icon name="help-circle" class="bar5" (click)="openHelpDialog()"></ion-icon>
        </ion-row>
      </ion-card>
    </div>

   
  </div>
</ion-content>
