<div class="container">
  <div class="container1">
    <!-- Bouton de retour -->
    <ion-icon name="arrow-back" class="arrow" (click)="goToHome2()"></ion-icon>
    <!-- Titre de la catégorie -->
    <h2>Meubles</h2>
  </div>
  <!-- Image promotionnelle -->
  <img src="assets/f.jpeg" alt="" class="home" />
  <div class="post-container">
    <!-- En-tête du post -->
    <div class="post-header">
      <!-- Image du vendeur -->
      <img
        src="https://i.imgur.com/8RKXAIV.jpg"
        alt="Profile Picture"
        class="pro"
      />
      <!-- Nom du vendeur -->
      <span><h5>James Elden</h5></span>
    </div>
    <!-- Image du produit -->
    <img src=" assets/m1.jpg" alt="Post Image" class="impo" />
    <!-- Bouton "J'aime" -->

    <ion-icon
      [name]="isLiked ? 'heart' : 'heart-outline'"
      class="i1"
    ></ion-icon>
    <ion-icon name="cart-outline" class="i2"></ion-icon>
    <!-- Description ou détails du produit -->
  </div>
  <div class="post-container">
    <!-- En-tête du post -->
    <div class="post-header">
      <!-- Image du vendeur -->
      <img
        src="https://i.imgur.com/8RKXAIV.jpg"
        alt="Profile Picture"
        class="pro"
      />
      <!-- Nom du vendeur -->
      <span><h5>James Elden</h5></span>
    </div>
    <!-- Image du produit -->
    <img src=" assets/m2.jpeg" alt="Post Image" class="impo" />
    <!-- Bouton "J'aime" -->

    <ion-icon
      [name]="isLiked ? 'heart' : 'heart-outline'"
      class="i1"
    ></ion-icon>
    <ion-icon name="cart-outline" class="i2"></ion-icon>
    <!-- Description ou détails du produit -->
  </div>
  <div class="post-container">
    <!-- En-tête du post -->
    <div class="post-header">
      <!-- Image du vendeur -->
      <img
        src="https://i.imgur.com/8RKXAIV.jpg"
        alt="Profile Picture"
        class="pro"
      />
      <!-- Nom du vendeur -->
      <span><h5>James Elden</h5></span>
    </div>
    <!-- Image du produit -->
    <img src=" assets/m3.jpg" alt="Post Image" class="impo" />
    <!-- Bouton "J'aime" -->

    <ion-icon
      [name]="isLiked ? 'heart' : 'heart-outline'"
      class="i1"
    ></ion-icon>
    <ion-icon name="cart-outline" class="i2"></ion-icon>
    <!-- Description ou détails du produit -->
  </div>
  <div class="post-container">
    <!-- En-tête du post -->
    <div class="post-header">
      <!-- Image du vendeur -->
      <img
        src="https://i.imgur.com/8RKXAIV.jpg"
        alt="Profile Picture"
        class="pro"
      />
      <!-- Nom du vendeur -->
      <span><h5>James Elden</h5></span>
    </div>
    <!-- Image du produit -->
    <img src=" assets/sales.jpg" alt="Post Image" class="impo" />
    <!-- Bouton "J'aime" -->

    <ion-icon
      [name]="isLiked ? 'heart' : 'heart-outline'"
      class="i1"
    ></ion-icon>
    <ion-icon name="cart-outline" class="i2"></ion-icon>
    <!-- Description ou détails du produit -->
  </div>
  <!-- Section pour écrire un commentaire -->
</div>
