<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  integrity="sha512-vQbC7jo2Psdheux1lSnfvkDMNfU/nZkzVsw6A6fGFG5AdK2GDuPAdD/WDJ4IzYhqkvX2SdprnE17kS0E9Ye9kQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<div class="container" style="width: 380px">
  <div class="row py-5 px-2">
    <div class="col-md-8" style="width: 360px; height: 410px">
      <ion-toolbar class="custom-toolbar">
        <div style="display: flex; align-items: center">
          <span class="menu-icon" (click)="toggleSidebar()">&#9776;</span>
          <h3 class="m-b-0" style="margin-left: 10px">Categories</h3>
        </div>
      </ion-toolbar>

      <div class="card" style="width: 260px">
        <div class="card-body little-profile text-center">
          <ion-item style="width: 100%; padding-top: 30px">
            <ion-input
              placeholder="Insert your category name"
              style="font-size: 0.7rem"
            ></ion-input>
            <input
              id="fileInput"
              type="file"
              accept="image/*"
              (change)="previewImage($event)"
              style="
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
              "
            />
            <ion-icon name="image" slot="end" (click)="FileInput()"></ion-icon>
          </ion-item>
          <div class="image-preview" *ngIf="imageUrl">
            <div class="circular-image">
              <img [src]="imageUrl" alt="Preview" />
            </div>
          </div>
          <ion-button color="tertiary" style="margin-top: 20px">
            Ajoutez
          </ion-button>
        </div>
      </div>
    </div>
    <div class="sidebar" [ngClass]="{ 'sidebar-open': sidebarOpen }">
      <div class="pro-img">
        <img src="https://i.imgur.com/8RKXAIV.jpg" alt="user" />
      </div>
      <h3 class="m-b-0">Vendeur</h3>
      <a href="/home2"><ion-icon name="home"></ion-icon> home</a
      ><a href=""><ion-icon name="stats-chart"></ion-icon> Statistics</a>
      <a href="/post"> <ion-icon name="create-outline"></ion-icon> Posts </a>

      <a href="#"><ion-icon name="mail"></ion-icon> Messages</a>
      <a href="#"><ion-icon name="settings"></ion-icon> Settings</a>
      <a href="/sign"><ion-icon name="log-out"></ion-icon> Logout</a>
    </div>
  </div>
</div>
