<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  integrity="sha512-vQbC7jo2Psdheux1lSnfvkDMNfU/nZkzVsw6A6fGFG5AdK2GDuPAdD/WDJ4IzYhqkvX2SdprnE17kS0E9Ye9kQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title style="text-align: center">Modifier un produit</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="updateProduct()" [strong]="true">Confirm</ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item
    style="
      height: 160px;
      margin-top: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <div class="image-preview" *ngIf="imageUrl">
      <div>
        <ion-img [src]="productData.profileImageURL"></ion-img>
      </div>
      <input
      id="fileInput"
      type="file"
      accept="image/*"
      (change)="previewImage($event)"
      style="
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 120px;
        height: 120px;
        cursor: pointer;
      "
    />

    </div>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nom du produit</ion-label>
    <ion-input type="text" [(ngModel)]="productData.nom"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Description du produit</ion-label>
    <ion-textarea rows="1" [(ngModel)]="productData.description"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Prix du produit</ion-label>
    <ion-input type="number" [(ngModel)]="productData.price"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Quantité de produit</ion-label>
    <ion-input type="number" [(ngModel)]="productData.quantity"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Couleur de produit</ion-label>
    <ion-input type="text" [(ngModel)]="productData.color"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Marque du produit</ion-label>
    <ion-input type="text" [(ngModel)]="productData.brand"></ion-input>
  </ion-item>
</ion-content>
