<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  integrity="sha512-vQbC7jo2Psdheux1lSnfvkDMNfU/nZkzVsw6A6fGFG5AdK2GDuPAdD/WDJ4IzYhqkvX2SdprnE17kS0E9Ye9kQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div
          style="
            display: flex;
            align-items: center;
            height: 9%;
            margin-bottom: 3%;
          "
        >
          <span
            class="menu-icon"
            style="margin-left: 9px"
            (click)="toggleSidebar()"
            >&#9776;</span
          >
          <h3 class="m-b-0" style="margin-left: 10px">Vendeurs</h3>
        </div>

        <div class="card">
          <div
            class="card-body little-profile text-center"
            style="width: 412px; height: 912px"
          >
            <ion-button
              color="tertiary"
              style="margin-top: 60px; margin-bottom: 30px"
              (click)="ajouter()"
              >Ajoutez Vendeur</ion-button
            >
            <div
              style="display: flex; flex-direction: column; align-items: center"
            >
              <ion-card
                style="width: 96%; height: 90px"
                *ngFor="let card of cards"
              >
                <ion-grid>
                  <ion-row>
                    <ion-col size="2">
                      <img
                        style="height: 60px; width: 100%"
                        alt="Silhouette of mountains"
                        src="{{ card.image }}"
                      />
                    </ion-col>
                    <ion-col size="7">
                      <ion-card-content>
                        <p style="font-size: 0.7rem">Email: {{ card.email }}</p>
                        <p style="font-size: 0.7rem">
                          Location: {{ card.location }}
                        </p>
                      </ion-card-content>
                    </ion-col>

                    <ion-col size="1">
                      <ion-button
                        (click)="setOpen(true)"
                        style="font-size: 0.7rem; margin-right: 20px"
                        >Action</ion-button
                      >
                      <ion-action-sheet
                        [isOpen]="isActionSheetOpen"
                        header="Actions"
                        [buttons]="actionSheetButtons"
                        (didDismiss)="setOpen(false)"
                      ></ion-action-sheet>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="sidebar"
      style="margin-top: 14%"
      [ngClass]="{'sidebar-open': sidebarOpen}"
    >
      <div class="sidebar" [ngClass]="{'sidebar-open': sidebarOpen}">
        <div class="pro-img">
          <img src="https://i.imgur.com/8RKXAIV.jpg" alt="user" />
        </div>
        <h3 class="m-b-0">Brad Macullam</h3>
        <a href="/home2"><ion-icon name="home"></ion-icon> home</a
        ><a href=""><ion-icon name="stats-chart"></ion-icon> Statistics</a>
        <a href="/post"> <ion-icon name="create-outline"></ion-icon> Posts </a>

        <a href="#"><ion-icon name="mail"></ion-icon> Messages</a>
        <a href="#"><ion-icon name="settings"></ion-icon> Settings</a>
        <a href="/sign"><ion-icon name="log-out"></ion-icon> Logout</a>
      </div>
    </div>
  </div>
</div>
