
<div class="container">

  <div class="row  ">
      <div class="col-md-8">
          <div class="card">
       
            

        <div class="card-body little-profile text-center">
          <div *ngIf="vendeurs.length > 0">
            <h4 class="inf">Information sur produits</h4>
            <ul class="no-decoration-list">
              <li *ngFor="let vendeur of vendeurs">
                
                <p>Nom d'entreprise : {{ vendeur.NomEntreprise }}</p>
                <p> catégories de produits: {{ vendeur.catprod }}</p>
                <p> méthodes de payement: {{ vendeur.methpay}}</p>
                <p> adress: {{ vendeur.adresse}}</p>
                <p> méthodes de livraison: {{ vendeur.methliv}}</p>
                <!-- Ajoutez d'autres propriétés de vendeur que vous souhaitez afficher -->
              </li>
            </ul>
          </div>

        
          <div class="row text-center m-t-20">
            <div class="col-lg-4 col-md-4 m-t-20">
              <h3 class="m-b-0 font-light"></h3>
              <small></small>
            </div>
            <div class="col-lg-4 col-md-4 m-t-20">
              <h3 class="m-b-0 font-light"></h3>
              <small></small>
            </div>
            <div class="col-lg-4 col-md-4 m-t-20">
              <h3 class="m-b-0 font-light"></h3>
              <small></small>
            </div>
          </div>
          <hr />
        
        </div>
      </div>
    </div>
   
   
  </div>
</div>
