.sidebar {
  position: fixed;
  top: calc(9% + 3px); /* Adjust this value as needed */
  left: -250px; /* Start off-screen */
  width: 250px; /* Adjust the width as needed */
  height: 83%;
  background-color: #6d0df4;
  overflow-x: hidden;
  transition: transform 0.3s ease-in-out;
  padding-top: 60px;
  z-index: 1;
}
.pro-img img {
  width: 110px;
  height: 110px;
  border-radius: 50%;

  overflow: hidden;
}
.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar-open {
  transform: translateX(250px); /* Move sidebar into view */
}

.container {
  position: relative;
  height: 100vh;
  width: 412px;
  margin-top: 10px;
  box-shadow: 0px 0px 20px #5c5696;
  background-color: #dedde0;
}

.card-row {
  display: flex;
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.arrow {
  margin-top: 18px;
  color: white;
  font-size: 30px;
}
h2 {
  font-size: 20px;
  color: white;
  margin-left: 15px;
}

.im {
  margin-top: 5px;
  width: 85px; /* Définir la largeur souhaitée pour les images */
  height: 85px; /* Définir la hauteur souhaitée pour les images */
  border-radius: 50%; /* Créer un cercle en utilisant un rayon de bordure égal à la moitié de la largeur/hauteur */
  border: 2px solid blue;
  background-color: #ae7ceb; /* Ajouter une bordure bleue de 2px */
  object-fit: cover; /* Pour s'assurer que l'image couvre tout le cercle */
}

.card-item {
  width: 31%;
  margin: 3px;
  height: 7%;
  box-shadow: 0px 0px 10px #5c5696;
  border: 2px solid #5c5696;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}
.p3 {
  font-size: 12px;
}
.values-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #f7f7f7, #dcdcdc);
}

.card {
  background-color: #af9df1;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 2px solid #5c5696;
  max-width: 412px;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.card-item:hover {
  transform: translateZ(-10px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);

  background-color: #7f34db;
}

.in {
  font-size: 50px;
  color: #5c5696;
}
img {
  height: 30%;
  width: 100%;
}

.p1 {
  font-size: 16px;
  text-align: center;
}

.container1 {
  background: linear-gradient(90deg, #c7c5f4, #776bcc);
  height: 80px;
  display: flex;
}

.bars1 {
  font-size: 29px;
  margin-top: -5px;
  color: white;
}

.bars {
  margin-left: 280px;
  color: white;
  font-size: 21px;
}

.search-wrapper {
  display: flex;
  align-items: center;
}

ion-searchbar {
  padding: 8px 12px;

  border-radius: 50px;
}

.p2 {
  font-size: 10px;
  color: #7f34db;
  margin-left: 310px;
  margin-top: -25px;
}
