<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  integrity="sha512-vQbC7jo2Psdheux1lSnfvkDMNfU/nZkzVsw6A6fGFG5AdK2GDuPAdD/WDJ4IzYhqkvX2SdprnE17kS0E9Ye9kQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div
          style="
            display: flex;
            align-items: center;
            height: 9%;
            margin-bottom: 3%;
            width: 412px;
          "
        >
          <span
            class="menu-icon"
            style="margin-left: 9px"
            (click)="toggleSidebar()"
            >&#9776;</span
          >
          <h3 class="m-b-0" style="margin-left: 10px">Vendeurs</h3>
        </div>

        <div class="card">
          <div
            class="card-body little-profile text-center"
            style="width: 412px; height: 912px"
          >
            <ion-searchbar
              [(ngModel)]="searchTerm"
              (input)="filterCategories($event)"
              placeholder="Chercher categories..."
            ></ion-searchbar>

            <ion-button
              color="tertiary"
              style="
                margin-top: 60px;
                margin-bottom: 30px;
                margin-left: 30%;
                margin-right: 30%;
              "
              (click)="ajouter()"
              expand="block"
              >Ajoutez Category</ion-button
            >
            <div
              class="card-row"
              style="display: flex; align-items: center; flex-wrap: wrap"
            >
              <div
                *ngFor="let category of filteredCategories"
                class="card-item"
              >
                <img
                  [src]="'assets/c' + category.id + '.png'"
                  alt=""
                  class="im"
                />
                <p class="p3">{{ category.name }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sidebar" [ngClass]="{'sidebar-open': sidebarOpen}">
        <div class="pro-img">
          <img src="https://i.imgur.com/8RKXAIV.jpg" alt="user" />
        </div>
        <h3 class="m-b-0">Brad Macullam</h3>
        <a href="/home2"><ion-icon name="home"></ion-icon> home</a
        ><a href=""><ion-icon name="stats-chart"></ion-icon> Statistics</a>
        <a href="/posts"> <ion-icon name="create-outline"></ion-icon> Posts </a>

        <a href="#"><ion-icon name="mail"></ion-icon> Messages</a>
        <a href="#"><ion-icon name="setting"> </ion-icon> Settings</a>
        <a href="/sign"><ion-icon name="log-out"></ion-icon> Logout</a>
      </div>
    </div>
  </div>
</div>
