<div class="container2">
  <div class="container3">
    <ion-icon name="arrow-back" class="arr"></ion-icon>

    <div class="search-wrapper">
      <h2 class="titre">meubles</h2>
      <div class="pro-img">
        <img src="https://i.imgur.com/8RKXAIV.jpg" alt="user">
      </div>
    </div>
  </div>
  <div class="search">
  <ion-searchbar></ion-searchbar>
  <ion-icon name="options-outline" class="option"></ion-icon>
</div>
  <ion-content>
    <p class="p1">Shop by category</p>

    <div class="cat">
      <div class="card-row">
        <div class="card1">
          <ion-icon name="list-outline" class="bars2"></ion-icon>
          <p class="p1">All</p>
        </div>
        <div class="card1">
          <ion-icon name="bulb-outline" class="bars1"></ion-icon>
          <p class="p1">Lampe</p>
        </div>
        <div class="card1">
          <ion-icon name="bed-outline" class="bars1"></ion-icon>
          <p class="p1">Lit</p>
        </div>
        
        
      </div>
      <p class="p2"><a href="/all" class="text3">view all</a></p>
      <div class="posts">
        <div class="card-row">
          <div class="card">
            <ion-icon name="heart-outline" class="bar"></ion-icon>
            <img src="assets/m1.jpg" alt="" class="im1">
            <p class="p3">chaises</p>
            <p class="prix">100$</p>
            <ion-icon name="star" class="barr"></ion-icon>
            <ion-icon name="add" class="ba"></ion-icon>
          </div>
          <div class="card">
            <ion-icon name="heart-outline" class="bar"></ion-icon>
            <img src="assets/m2.jpeg" alt="" class="im1">
            <p class="p3">chaises</p>
            <p class="prix">100$</p>
            <ion-icon name="star" class="barr"></ion-icon>
            <ion-icon name="add" class="ba"></ion-icon>
          </div>
        </div>
        <div class="card-row">
          <div class="card">
            <ion-icon name="heart-outline" class="bar"></ion-icon>
            <img src="assets/m3.jpeg" alt="" class="im1">
            <p class="p3">chaises</p>
            <p class="prix">100$</p>
            <ion-icon name="star" class="barr"></ion-icon>
            <ion-icon name="add" class="ba"></ion-icon>
          </div>
          <div class="card">
            <ion-icon name="heart-outline" class="bar"></ion-icon>
            <img src="assets/m.jpeg" alt="" class="im1">
            <p class="p3">chaises</p>
            <p class="prix">100$</p>
            <ion-icon name="star" class="barr"></ion-icon>
            <ion-icon name="add" class="ba"></ion-icon>
          </div>
        </div>
        <div class="card-row">
          <div class="card">
            <ion-icon name="heart-outline" class="bar"></ion-icon>
            <img src="assets/c4.png" alt="" class="im1">
            <p class="p3">chaises</p>
            <p class="prix">100$</p>
            <ion-icon name="star" class="barr"></ion-icon>
            <ion-icon name="add" class="ba"></ion-icon>
          </div>
          <div class="card">
            <ion-icon name="heart-outline" class="bar"></ion-icon>
            <img src="assets/c5.png" alt="" class="im1">
            <p class="p3">chaises</p>
            <p class="prix">100$</p>
            <ion-icon name="star" class="barr"></ion-icon>
            <ion-icon name="add" class="ba"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</div>