


<ion-content [fullscreen]="true"><div class="container4">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">statics</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="wrapper"><ion-icon name="arrow-back" class="bar3"  (click)="pro()" ></ion-icon><h2 class="dash">Dashboard</h2><ion-icon name="grid" class="bar2" ></ion-icon>
  </div>


	<div class="main-container">
		<div class="year-stats">
			<div class="month-group">
				<div class="bar h-100"></div>
				<p class="month">Jan</p>
			</div>
			<div class="month-group">
				<div class="bar h-50"></div>
				<p class="month">Feb</p>
			</div>
			<div class="month-group">
				<div class="bar h-75"></div>
				<p class="month">Mar</p>
			</div>
			<div class="month-group">
				<div class="bar h-25"></div>
				<p class="month">Apr</p>
			</div>
			<div class="month-group selected">
				<div class="bar h-100"></div>
				<p class="month">May</p>
			</div>
			<div class="month-group">
				<div class="bar h-50"></div>
				<p class="month">Jun</p>
			</div>
			<div class="month-group">
				<div class="bar h-75"></div>
				<p class="month">Jul</p>
			</div>
			<div class="month-group">
				<div class="bar h-25"></div>
				<p class="month">Aug</p>
			</div>
			<div class="month-group">
				<div class="bar h-50"></div>
				<p class="month">Sep</p>
			</div>
			<div class="month-group">
				<div class="bar h-75"></div>
				<p class="month">Oct</p>
			</div>
			<div class="month-group">
				<div class="bar h-25"></div>
				<p class="month">Nov</p>
			</div>
			<div class="month-group">
				<div class="bar h-100"></div>
				<p class="month">Dez</p>
			</div>
		</div>

		<div class="stats-info">
			<div class="graph-container">
				<div class="percent">
					<svg viewBox="0 0 36 36" class="circular-chart">
						<path class="circle" stroke-dasharray="100, 100" d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831" />
						<path class="circle" stroke-dasharray="85, 100" d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831" />
						<path class="circle" stroke-dasharray="60, 100" d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831" />
						<path class="circle" stroke-dasharray="30, 100" d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831" />
					</svg>
				</div>
				<p>Total: $2075</p>
			</div>

			<div class="info">
				<p>Most expensive category <br /><span>Restaurants & Dining</span></p>
				<p>Updated categories <span>2</span></p>
				<p>Bonus payments <span>$92</span></p>
			</div>
		</div>
	</div>


    <div class="card-row">
        <div class="card1" >
            <ion-icon name="rocket" class="icon"></ion-icon>


         <p  class="pro">85</p>
         <p class="pro">projects</p>
        </div>
        
        <div class="card2" >
            <ion-icon name="list" class="icon"></ion-icon>
            
                <p  class="pro">85</p>
                <p class="pro">projects</p>
               </div>
      </div>
      <div class="card-row">
        <div class="card3" >
            <ion-icon name="person" class="bar3"  class="icon"></ion-icon>
            <p class="pro">85</p>
            <p class="pro">clients</p>
        </div>
        
        <div class="card4" >
            <ion-icon name="people" class="bar3" class="icon" ></ion-icon>
        
                <p  class="pro">85</p>
                <p class="pro">projects</p>
               </div></div>


               <h1> Chart</h1>
               <div class="simple-bar-chart">
                 
                 <div class="item" style="--clr: #5EB344; --val: 80">
                   <div class="label">Label 1</div>
                   <div class="value">80%</div>
                 </div>
                 
                 <div class="item" style="--clr: #FCB72A; --val: 50">
                   <div class="label">Label 2</div>
                   <div class="value">50%</div>
                 </div>
                 
                 <div class="item" style="--clr: #F8821A; --val: 100">
                   <div class="label">Label 3</div>
                   <div class="value">100%</div>
                 </div>
                 
                 <div class="item" style="--clr: #E0393E; --val: 15">
                   <div class="label">Label 4</div>
                   <div class="value">15%</div>
                 </div>
                 
                 <div class="item" style="--clr: #963D97; --val: 1">
                   <div class="label">Label 5</div>
                   <div class="value">1%</div>
                 </div>
                 
                 <div class="item" style="--clr: #069CDB; --val: 90">
                   <div class="label">Label 6</div>
                   <div class="value">90%</div>
                 </div>
               </div>
               

</div>
</ion-content>
