.container {
    position: relative;
    height: 100vh;
    width: 350px;
    margin-left: 500px;
    margin-top: 10px;
    box-shadow: 0px 0px 20px #5C5696;
    background-color: #dedde0;
  }
  .container1 {
    background: linear-gradient(90deg, #C7C5F4, #776BCC);
    height: 80px;
    display: flex;
    width: 100%;
  }
  
  /* posts.component.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .post-container {
    width: 80%;
    margin-bottom: 20px;
    border: 2px solid #a4a1a1;
    border-radius: 10px;
    padding: 20px;
    margin-top: 25px;
  }
  h2{
 
    font-size: 20px;
    color: white;
    margin-left: 15px;
}
  .arrow{
    margin-top: 18px;
    color: white;
    font-size: 30px;
 }
  
  .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .post-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .post-caption {
    margin-bottom: 10px;
  }
  
  .post-interactions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .likes, .comments {
    display: flex;
    align-items: center;
  }
  
  .likes button, .comments button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .write-comment {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .write-comment input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .write-comment button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
  }
  