
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Retourner</ion-button>
    </ion-buttons>
    <ion-title style="text-align: center"> Produit Details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item
    style="
      height: 160px;
      margin-top: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <div class="image-preview" *ngIf="imageUrl">
      <div>
        <ion-img [src]="productData.profileImageURL"></ion-img>
      </div>
    </div>
  </ion-item>
  <ion-item style="height: 80px; margin-top: 40px">
    <ion-label>
      <h3>
       nom du client</h3>
      <p>{{ productData.
        username
        }}</p>
    </ion-label>
  </ion-item>
  <ion-item style="height: 80px; margin-top: 40px">
    <ion-label>
      <h3>E-mail du client</h3>
      <p>{{ productData.email}}</p>
    </ion-label>
  </ion-item>

  <ion-item style="height: 80px; margin-top: 40px">
    <ion-label>
      <h3>
      téléphone du client</h3>
      <p>{{ productData.
        phone
        
         }}</p>
    </ion-label>
  </ion-item>

  

  
</ion-content>