


<ion-content [fullscreen]="true"><div class="container4">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">statics</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="wrapper"><ion-icon name="arrow-back" class="bar3"  (click)="pro()" ></ion-icon><h2 class="dash">Dashboard</h2><ion-icon name="grid" class="bar2" ></ion-icon>
  </div>
<div class="image">

  
<img src="../../assets/person.png" alt="" class="im1">
<img src="../../assets/a.png" alt="" class="im2">
<img src="../../assets/ch.jpeg" alt="" class="im3">
<img src="../../assets/cha.jpeg" alt="" class="im4">
</div>

<div class="titre"><p class="p1"> people</p><p class="p1"> people</p><p class="p1"> people</p><p class="p1"> people</p></div>

</div>


<!-- Animates the numbers, add classes "odometer odometer-theme-default" and id "odometer"
<link rel="stylesheet" href="http://github.hubspot.com/odometer/themes/odometer-theme-default.css" />
<script src="http://github.hubspot.com/odometer/odometer.js"></script>
<link rel="stylesheet" href="odometer-theme-default.css" />
-->

<div class="frame">
  <h2 class="p4">Overview</h2>
  <div class="card">
  	<div class="header">
			<span class="title big">Weekly report</span>
			<span class="date small">01. Feb - 07. Feb</span>
			<span class="type small">Revenue</span>
			<span class="value">3621.79</span>
		</div>
		<div class="clearfix"></div>
		<div class="parameter">
			<span class="red">Views</span>
			<span class="blue">Purchases</span>
		</div>
		<div class="statistic">
			<div class="line-1"></div>
			<div class="line-2"></div>
			<div class="line-3"></div>
			<div class="data red">
				<svg>
					<polyline points="9,46 50,12 90,23 130,11 171,38 211,48 251,19"></polyline>    
				</svg>
				<div class="points">
					<div class="point-1">
						<div class="tooltip">458</div>
					</div>
					<div class="point-2">
						<div class="tooltip">812</div>
					</div>
					<div class="point-3">
						<div class="tooltip">746</div>
					</div>
					<div class="point-4">
						<div class="tooltip">877</div>
					</div>
					<div class="point-5">
						<div class="tooltip">517</div>
					</div>
					<div class="point-6">
						<div class="tooltip">434</div>
					</div>
					<div class="point-7">
						<div class="tooltip">458</div>
					</div>
				</div>
			</div>
			<div class="data blue">
				<svg>
					<polyline points="9,61 50,50 90,65 130,55 171,61 211,74 251,64"></polyline>    
				</svg>
				<div class="points">
					<div class="point-1">
						<div class="tooltip">26</div>
					</div>
					<div class="point-2">
						<div class="tooltip">41</div>
					</div>
					<div class="point-3">
						<div class="tooltip">22</div>
					</div>
					<div class="point-4">
						<div class="tooltip">36</div>
					</div>
					<div class="point-5">
						<div class="tooltip">25</div>
					</div>
					<div class="point-6">
						<div class="tooltip">13</div>
					</div>
					<div class="point-7">
						<div class="tooltip">20</div>
					</div>
				</div>
			</div>
		</div>
		<div class="days">
			<span class="day">Mon</span>
			<span class="day">Tue</span>
			<span class="day">Wed</span>
			<span class="day">Thu</span>
			<span class="day">Fri</span>
			<span class="day">Sat</span>
			<span class="day">Sun</span>
		</div>
  </div><div class="container2">
	<h1>How purple is this pie chart?<br/><small>(according to men)</small></h1>
	<div class="pie">
	<div class="pie-chart">
	  <div class="pie-text text1">purple</div>
	<div class="pie-text text2">purple</div>
	<div class="pie-text text3">purple</div>
	</div>
	<div class="pie-chart1">
		<div class="pie-text text1">purple</div>
	  <div class="pie-text text2">purple</div>
	  <div class="pie-text text3">purple</div>
	  </div></div>
</div>

<div class="progress">


	
  
  <div class="eb-progress-bar-wrapper">
	<div class="eb-progress-bar css" style="--value: 91; --col: #FF1659">
	  <progress id="css" min="0" max="100" value="91"></progress>
	</div>
  
	<label for="css" class="eb-progress-bar-title">
	
	</label>
  </div>
  
  <div class="eb-progress-bar-wrapper">
  
	<div class="eb-progress-bar js" style="--value: 68; --col: #E8232E">
	  <progress id="js" min="0" max="100" value="68"></progress>
	</div>
  
	<label for="js" class="eb-progress-bar-title">
	 
	</label>
  </div>
  
  <div class="eb-progress-bar-wrapper">
  
	<div class="eb-progress-bar py" style="--value: 88; --col: #AD0346">
	  <progress id="py" min="0" max="100" value="88"></progress>
	</div>
  
	<label for="py" class="eb-progress-bar-title">
	
	</label>
  </div>
</div>
<h3>Recent Orders</h3>
<div class="container5">


<img src="../../assets/m4.jpeg" alt="" class="order">
<h3 class="title">meubles</h3><br><br>
Lorem ipsum dolor sit, amet consectetur adipisicing elit
<ion-icon name="trash" class="trash"></ion-icon>
</div>
<div class="container5">


	<img src="../../assets/m4.jpeg" alt="" class="order">
	<h3 class="title">meubles</h3><br><br>
	Lorem ipsum dolor sit, amet consectetur adipisicing elit
	<ion-icon name="trash" class="trash"></ion-icon>
	</div>
	<div class="container5">


		<img src="../../assets/m4.jpeg" alt="" class="order">
		<h3 class="title">meubles</h3><br><br>
		Lorem ipsum dolor sit, amet consectetur adipisicing elit
		<ion-icon name="trash" class="trash"></ion-icon>
		</div>




</div>

</ion-content>

