<div class="container">
  
  <ion-icon name="close" class="close" (click)="goback()"></ion-icon>
<h1 class="filter">Filters</h1>
<h4 class="type">Types</h4>
<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col size="12" style="display: flex;">
      
          <ion-card class="card1">
            <ion-card-content class="ion-text-left">

              <div class="img-wrapper1">
               
                
                <ion-card-subtitle>All</ion-card-subtitle>
              </div>

            </ion-card-content>
          </ion-card>


          <ion-card class="card1" >
            <ion-card-content class="ion-text-left">

           
               
                
                <ion-card-subtitle>Lampes</ion-card-subtitle>
     
              
            
              

            </ion-card-content>
          </ion-card>
          <ion-card class="card1">
            <ion-card-content class="ion-text-left">
               
                
                <ion-card-subtitle>Tables</ion-card-subtitle>
          
     

            </ion-card-content>
          </ion-card>
          
    </ion-col></ion-row></ion-grid>    


    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="12" style="display: flex;">
          
              <ion-card class="card1">
                <ion-card-content class="ion-text-left">
    
                  <div class="img-wrapper1">
                
                    <ion-card-subtitle>All</ion-card-subtitle>
                  </div>
    
                </ion-card-content>
              </ion-card>
    
    
              <ion-card class="card1" >
                <ion-card-content class="ion-text-left">
    
                  <div class="img-wrapper1">
                   
                    
                    <ion-card-subtitle>Lampes</ion-card-subtitle>
                  </div>
                  
                
                  
    
                </ion-card-content>
              </ion-card>
              <ion-card class="card1">
                <ion-card-content class="ion-text-left">
    
                  <div class="img-wrapper1">
                   
                    
                    <ion-card-subtitle>Tables</ion-card-subtitle>
                  </div>
         
    
                </ion-card-content>
              </ion-card>
              
        </ion-col></ion-row></ion-grid>    


        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="12" style="display: flex;">
              
                  <ion-card class="card1">
                    <ion-card-content class="ion-text-left">
        
                      <div class="img-wrapper1">
                       
                        <ion-card-subtitle>All</ion-card-subtitle>
                      </div>
        
                    </ion-card-content>
                  </ion-card>
        
        
                  <ion-card class="card1" >
                    <ion-card-content class="ion-text-left">
        
                      <div class="img-wrapper1">
                       
                        
                        <ion-card-subtitle>Lampes</ion-card-subtitle>
                      </div>
                      
                    
                      
        
                    </ion-card-content>
                  </ion-card>
                  <ion-card class="card1">
                    <ion-card-content class="ion-text-left">
        
                      <div class="img-wrapper1">
                       
                        
                        <ion-card-subtitle>Tables</ion-card-subtitle>
                      </div>
             
        
                    </ion-card-content>
                  </ion-card>
                  
            </ion-col></ion-row></ion-grid> 
            
            <h4 class="price">price</h4>
        
            <div
            class="RadialProgress"
            role="progressbar"
            aria-valuenow="25"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
          
          <input  class="input" type="range" value="25" min="0" max="1500" />
          
<h4 class="color">color</h4>
            <h4 class="show">show more</h4>
            
       
         




            <div class="container1">
              <div class="row">
                <div class="ball red"></div>
                <div class="ball blue"></div>
                <div class="ball green"></div>
                <div class="ball yellow"></div>
                <div class="ball orange"></div>
                <div class="ball purple"></div>
              </div>
              <div class="row">
                <div class="ball blue"></div>
                <div class="ball green"></div>
                <div class="ball yellow"></div>
                <div class="ball orange"></div>
                <div class="ball purple"></div>
                <div class="ball red"></div>
              </div>
      
            </div>
    
            <ion-loading class="custom-loading" trigger="open-loading" message="Loading..." [duration]="3000"></ion-loading>
        
            <button style="--clr:#8A2BE2"   id="open-loading">
              <span>Apply</span>
              <i></i>
            </button>













          
                     