

<div class="container">
	<div class="screen">
		<div class="screen__content"> <img src="assets/image.png" alt="" class="background-img">
			<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
				<div class="login__field">
					<ion-icon name="person" class="login__icon"></ion-icon>
					<input type="text" class="login__input" placeholder="Username" name="username" formControlName="username">
				</div>
				<div class="login__field">
					<ion-icon name="call" class="login__icon"></ion-icon>
					<input type="text" class="login__input" placeholder="Phone" name="phone" formControlName="phone">
				</div>
				<div class="login__field">
					<ion-icon name="mail" class="login__icon"></ion-icon>
					<input type="text" class="login__input" placeholder="Email" name="email" formControlName="email">
				</div>
				<div class="login__field">
					<ion-icon name="lock-open" class="login__icon"></ion-icon>
					<input type="password" class="login__input" placeholder="Password" name="password" formControlName="password">
				</div>
				<div class="reg">
					<ion-select placeholder="register as" [multiple]="false"  formControlName="role" >
						<ion-select-option value="buyer">buyer</ion-select-option>
						<ion-select-option value="seller">seller</ion-select-option>
						<ion-select-option value="both">both</ion-select-option>
						<ion-select-option value="admin">admin</ion-select-option>
					</ion-select>
				</div>
				<input type="file" accept="image/*" class="image" id="profileImage"  formControlName="profileImage" >
				<div class="pro-img">
					<img [src]="profileImageSrc" alt="user" *ngIf="profileImageSrc">
				  </div><button class="button login__submit" [disabled]="registrationForm.invalid" type="submit">
					<ion-icon name="log-in" class="button__icon"></ion-icon>
					<span class="button__text">Sign up</span>
				</button>
				<span class="text1">Already have an account? <a href="/signin" class="text3">sign in</a></span>
			</form>
			
			
		
		</div>
		  
	</div>
</div>