<!-- home.component.html -->

<div class="container">
  <div class="background-image">
    <img src="assets/rec.jpg" alt="" />
  </div>
  <div class="content">
    <h1>Swap<span class="N">N</span>Shop</h1>
<<<<<<<< HEAD:src/app/home/home1.page.html
    <button class="next-button"><a href="/sign" class="text3">Next</a></button>
========
    <button class="next-button"  (click)="go()"><a  class="text3">Next</a></button>
>>>>>>>> 8353bd8d1aa4e4bdd0908bae58d0f76050c62ef4:src/app/home/home.page.html
  </div>
</div>
