<div class="container">
  <div class="container1">
    <ion-icon
      name="arrow-back"
      class="arrow-icon"
      (click)="togopost()"
    ></ion-icon>
    <!-- Placer l'icône de flèche ici -->
  </div>
  <div class="scaffold">
    <div class="stack">
      <div class="container2">
        <div class="recipe-image">
          <img src="assets/m1.jpg" alt="Recipe Image" />
        </div>
        <div class="back-button">
          <a href="#" class="back-link">
            <i class="fas fa-arrow-left"></i>
          </a>
        </div>
        <div class="scroll-content">
          <!-- Scrollable content goes here -->
          <div class="recipe-details">
            <h1 class="recipe-title">Title</h1>
            <div class="recipe-info">
              <div class="info-item">
                <div class="pro-img">
                  <img src="https://i.imgur.com/8RKXAIV.jpg" alt="user" />
                </div>
              </div>
              <div class="info-item">
                <i class="fas fa-users"></i>
                <span class="info-text">
                  <ion-icon name="heart"></ion-icon
                ></span>
              </div>
              <div class="share-icon">
                <ion-icon name="Share"></ion-icon>
              </div>
            </div>
            <div class="recipe-description">
              <h2 class="section-title">Description</h2>
              <p class="description-text">.........</p>
            </div>
            <div class="recipe-ingredients">
              <h2 class="section-title">Details</h2>
              <p class="description-text">.........</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
