
<div class="container">

  <div class="row  ">
      <div class="col-md-8">
          <div class="card">
              <!-- Ajout de l'icône de trois tirets -->
              <span class="menu-icon" (click)="toggleSidebar()">&#9776;</span>


        <img class="card-img-top" src="assets/sales.jpg" alt="Card image cap" />
        <div class="card-body little-profile text-center">
          <div class="pro-img">
            <img src="https://i.imgur.com/8RKXAIV.jpg" alt="user" />
          </div>
          <h3 class="m-b-0">Brad Macullam</h3>
         
          <a
            href="/edit"
            class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded"
            data-abc="true"
            >Edit profile</a
          >
          <div class="row text-center m-t-20">
            <div class="col-lg-4 col-md-4 m-t-20">
              <h3 class="m-b-0 font-light"></h3>
              <small></small>
            </div>
            <div class="col-lg-4 col-md-4 m-t-20">
              <h3 class="m-b-0 font-light"></h3>
              <small></small>
            </div>
            <div class="col-lg-4 col-md-4 m-t-20">
              <h3 class="m-b-0 font-light"></h3>
              <small></small>
            </div>
          </div>
          <hr />
          <!-- Ajout du tiret de 3 -->
        </div>
      </div>
    </div>
    <div class="sidebar" [ngClass]="{ 'sidebar-open': sidebarOpen }">
      <div class="sidebar" [ngClass]="{ 'sidebar-open': sidebarOpen }">
        <div class="pro-img">
          <img src="https://i.imgur.com/8RKXAIV.jpg" alt="user" />
        </div>
        <h3 class="m-b-0">Brad Macullam</h3>
        <a href="/users"><ion-icon name="Home"></ion-icon>home</a
        ><a href="/statics"><ion-icon name="stats-chart"></ion-icon> Statistics</a>
        <a href="/post"> <ion-icon name="create-outline"></ion-icon> Posts </a>

        <a href="/vendeurs"><ion-icon name="people"></ion-icon>Vendeurs</a>
        <a href="#"><ion-icon name="settings"></ion-icon> Settings</a>
        <a href="/sign"><ion-icon name="log-out"></ion-icon> Logout</a>
      </div>
    </div>
  </div>
</div>
