<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  integrity="sha512-vQbC7jo2Psdheux1lSnfvkDMNfU/nZkzVsw6A6fGFG5AdK2GDuPAdD/WDJ4IzYhqkvX2SdprnE17kS0E9Ye9kQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title style="text-align: center">Ajouter un vendeur</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item style="height: 80px; margin-top: 40px">
    <ion-input placeholder="Nom Complet" [(ngModel)]="nomComplet"></ion-input>
  </ion-item>
  <ion-item style="height: 80px">
    <ion-input
      placeholder="Nom d'utilisateur"
      [(ngModel)]="nomUtilisateur"
    ></ion-input>
  </ion-item>
  <ion-item style="height: 80px">
    <ion-input placeholder="Email" type="email" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item style="height: 80px">
    <ion-input
      type="tel"
      placeholder="Telephone"
      [(ngModel)]="telephone"
    ></ion-input>
  </ion-item>
  <ion-item style="height: 80px">
    <ion-input
      type="password"
      placeholder="Password"
      [(ngModel)]="password"
    ></ion-input>
  </ion-item>
  <ion-item style="height: 80px">
    <ion-input
      placeholder="Adresse de boutique"
      [(ngModel)]="adresseBoutique"
    ></ion-input>
  </ion-item>
</ion-content>
